@{
    ViewBag.Title = "O Mnie";
}

@{ 
    ViewBag.Massage = "to jest strona o mnie";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Stronka o mnie w umowie</p>

<div style="font-size:20px;text-align:center;">
    @{ 
        foreach (var kontakt in ViewBag.Kontakty)
        {
            <p>
                @kontakt.Imie @kontakt.Nazwisko, @kontakt.Miasto, ul. @kontakt.Ulica
            </p>
        }
    }
</div>

<div>
    
</div>