<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

</head>
<body>

    <ul class="breadcrumb">
        <div style="margin-right:40px;">
            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home")</li>
        </div>
        <div style="margin-right:40px;">
            <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
        </div>
        <div style="margin-right:40px;">
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
        </div>
        <div style="margin-right:40px;">
            <li class="nav-item">@Html.ActionLink("Omnie", "Omnie", "Home")</li>
        </div>
    </ul>

    <div>
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Moja próba aplikacji ASP.NET MVC</p>
    </footer>


    @RenderSection("scripts", required: false)

</body>
</html>
