<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="~/Content/StyleMenuHome.css" rel="stylesheet" />
    <link href="~/Content/Karty.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body>

    <ul class="breadcrumb">
            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="nav-item">@Html.ActionLink("Create", "Create", "Home")</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li class="nav-item">@Html.ActionLink("Omnie", "Omnie", "Home")</li>
            <li class="nav-item">@Html.ActionLink("Wspólnoty", "Index", "Wspolnoty")</li>
    </ul>

    <div>
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Moja próba aplikacji ASP.NET MVC</p>
    </footer>


    @RenderSection("scripts", required: false)

</body>
</html>
